.gallery-grid {
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 80px;
  color: white;
}

.gallery-sidebar {
  position: fixed;
  left: 40px;
  
}

.sidebar-section {
  margin-bottom: 40px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: background-color, .2s;
}

.sidebar-section:hover {
  background-color: rgb(24, 61, 61);
}

.gallery-picture-portrait {
  border-radius: 2px;
  max-width: 60%;
  height: auto;
}

.gallery-picture-tall {
  border-radius: 2px;
  max-width: 50%;
  height: auto;
}

.gallery-picture-wide {
  border-radius: 2px;
  max-width: 90%;
  height: auto;
}

.gallery-picture-pano {
  border-radius: 2px;
  grid-template-columns: 1fr;
  width: 200%;
  height: auto;
}

.gallery-image {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.gallery-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-date {
  margin-top: 5px;
}

.gallery-text {
  
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}